@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* -------------- CSS Reset  -------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
  overflow-x: hidden;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  background: var(--bg-clr);
  color: var(--text-clr);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea,
select {
  background: var(--text-clr);
  color: var(--bg-clr);
}

button {
  cursor: pointer;
}

:root {
  /* Text */
  --text-clr: hsl(0, 0%, 20%);
  --text-clr-darker: hsl(0, 0%, 30%);

  /* Backgrounds */
  --bg-clr: hsl(0, 0%, 100%);
  --bg-clr-2: hsl(0, 0%, 95%);
  --bg-clr-3: hsla(0, 0%, 0%, 0.1);

  /* Primary and Secondary */
  --primary-clr: hsl(174, 97%, 43%);

  /* Accent Color Scheme */
  --secondary-clr: hsl(265, 100%, 46%);

  /* Info Status */
  --info-status-clr-1: hsl(39, 100%, 50%);
  --info-status-clr-2: hsl(211, 100%, 50%);
  --info-status-clr-3: hsl(275, 86%, 36%);
  --info-status-clr-4: hsl(134, 61%, 41%);
  --info-status-clr-5: hsl(354, 100%, 54%);

  /* Box Shadow Effect */
  --box-shadow-effect-clr-1: hsl(214, 100%, 56%);
  --box-shadow-effect-clr-2: hsl(354, 100%, 54%);
}

body.dark-mode {
  /* Text Colors */
  --text-clr: hsl(0, 0%, 100%);
  --text-clr-darker: hsl(0, 0%, 83%);

  /* Background Colors */
  --bg-clr: hsl(0, 0%, 0%);
  --bg-clr-2: hsl(0, 0%, 19%);
  --bg-clr-3: hsl(0, 0%, 100%, 0.1);

  /* Primary Color Scheme */
  --primary-clr: hsl(220, 90%, 45%);
  --primary-clr: hsl(265, 100%, 46%);

  /* Accent Color Scheme */
  --secondary-clr: hsl(174, 97%, 43%);
  --secondary-clr: hsl(45, 100%, 55%);

  /* Info Status */
  --info-status-clr-1: hsl(39, 100%, 50%);
  --info-status-clr-2: hsl(211, 100%, 50%);
  --info-status-clr-3: hsl(275, 86%, 36%);
  --info-status-clr-4: hsl(134, 61%, 41%);
  --info-status-clr-5: hsl(354, 100%, 54%);

  /* Box Shaodw Effect */
  --box-shadow-effect-clr-1: hsl(214, 100%, 56%);
  --box-shadow-effect-clr-2: hsl(354, 100%, 54%);
}

:target {
  scroll-margin-top: 100px;
}

section {
  padding-inline: 40px;
  min-height: 100vh;
  margin-block: 90px;
}

input:hover,
textarea:hover,
select:hover {
  box-shadow: 0 0 10px 0 var(--text-clr-darker);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 10px 0 var(--secondary-clr);
}

/* -------------- Header  -------------- */
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--primary-clr);
  z-index: 1;
}
.header-navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.header-navbar .logo i {
  color: var(--secondary-clr);
  margin-inline: 3px;
}
.header-navbar .search-bar {
  display: flex;
  align-items: center;
}
.header-navbar .search-bar input[type="search"] {
  padding: 3px 10px;
  border-radius: 5px;
  width: 230px;
}
.header-navbar .search-bar input[type="search"]::placeholder {
  font-size: 0.9rem;
}
.header-navbar .search-bar i {
  position: relative;
  right: 30px;
  color: var(--bg-clr);
}
.header-navbar .categories {
  position: relative;
  white-space: nowrap;
}
.header-navbar .categories .categories-list {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-clr-2);
  color: var(--text-clr);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.header-navbar .categories:hover .categories-list {
  visibility: visible;
  opacity: 1;
}
.header-navbar .categories .categories-list li {
  border-left: 5px solid transparent;
  transition: 0.3s;
}
.header-navbar .categories .categories-list li:hover {
  border-left-color: var(--secondary-clr);
  background: hsl(from var(--secondary-clr) h s l / 0.3);
  color: var(--secondary-clr);
}
.header-navbar .categories .categories-list li a {
  display: block;
  padding: 16px 24px;
  font-weight: 500;
}
.header-navbar > div:hover {
  color: var(--secondary-clr);
  text-shadow: 0 0 20px var(--secondary-clr);
}
.header-navbar > div:hover .categories-list li {
  text-shadow: none;
}
.header-navbar .auth {
  display: flex;
  gap: 20px;
}
.header-navbar .search-modal {
  width: 80%;
  height: 100%;
  padding-inline: 30px;
  position: relative;
}
.header-navbar .search-modal > h1 {
  margin-block: -40px 40px;
  font-size: 1.8rem;
  border-bottom: 3px solid var(--secondary-clr);
}
.header-navbar .search-modal .form {
  flex-direction: column;
  gap: 20px;
}
.header-navbar .search-modal .search-input {
  width: 100%;
  position: relative;
}
.header-navbar .search-modal .search-input input[type="search"] {
  width: 100%;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.25rem;
  border: 3px solid transparent;
  outline: none;
  transition: 0.3s;
}
.header-navbar .search-modal .search-input input[type="search"]:focus {
  border-color: var(--primary-clr);
  box-shadow: 0 0 10px 0px var(--primary-clr);
}
.header-navbar .search-modal .search-input button:first-of-type {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var(--primary-clr);
  font-size: 1.25rem;
  cursor: pointer;
}
.header-navbar .search-modal .search-input button:first-of-type:hover {
  opacity: 0.8;
}
.header-navbar .search-modal .advanced-search-filters summary {
  list-style: none;
  width: fit-content;
}
.header-navbar .search-modal .advanced-search-filters {
  appearance: none;
  align-self: flex-start;
}
.header-navbar .search-modal .advanced-search-filters span:first-of-type {
  margin-right: 10px;
  vertical-align: middle;
}
.header-navbar .search-modal .advanced-search-filters .filters {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
}
.header-navbar
  .search-modal
  .advanced-search-filters
  .filters
  .sort-by-filter
  select {
  margin-left: 20px;
}

/* -------------- Section's title  -------------- */
.section-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: var(--primary-clr);
  top: 50%;
}
.section-title h1 {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 25px;
  background: var(--bg-clr);
}

/* -------------- Products Section  -------------- */
.products .products-items-found {
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-clr-darker);
}
.products .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.products .products-container .product {
  background: var(--bg-clr-2);
  background: hsl(from var(--primary-clr) h s l / 0.3);
  border-radius: 15px;
  padding: 20px;
  border: 2px solid var(--primary-clr);
  position: relative;
}
.products .products-container .product:hover {
  box-shadow: 0 0 10px 5px var(--primary-clr);
}
.products .product .add-to-wishlist-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--primary-clr);
  color: var(--text-clr);
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.products .product .add-to-wishlist-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 var(--primary-clr);
}
.products .product .add-to-wishlist-btn i.product-in-wishlist {
  color: var(--secondary-clr);
}
.products .product-image-container input#marking-product {
  display: none;
}
.products .product-image-container input#marking-product + label {
  width: 25px;
  height: 25px;
  border: 2px solid var(--text-clr);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: .3s;
}
.products .product-image-container input#marking-product + label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.products .product-image-container input#marking-product:checked + label {
  background: var(--text-clr);
  color: var(--bg-clr);
}
.products .product-image-container input#marking-product:checked + label i {
  visibility: visible;
  opacity: 1;
}
.products .product-name {
  color: var(--secondary-clr);
}
.products .product-price {
  color: var(--text-clr-darker);
  font-size: 1.2rem;
}
.products .admin-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products .products-add-product-dialog {
  width: 90%;
  padding: 10px 30px;
}
.products .products-add-product-dialog > h1 {
  margin-block: -40px 35px;
  font-size: 1.8rem;
  border-bottom: 3px solid var(--secondary-clr);
}
.products .products-add-product-dialog .form .fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--primary-clr);
  padding: 10px 40px 30px;
  box-shadow: 0 0 20px 0 var(--primary-clr);
  font-size: 1.2rem;
  background: var(--bg-clr-2);
}
.products .products-add-product-dialog .form .fieldset legend {
  padding-inline: 10px;
}
.products .products-add-product-dialog .form .field {
  position: relative;
}
.products .products-add-product-dialog .form .field input,
.products .products-add-product-dialog .form .field textarea {
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid var(--text-clr);
  background: transparent;
  color: var(--secondary-clr);
  caret-color: var(--secondary-clr);
}
.products .products-add-product-dialog .form .field input[type="number"] {
  text-align: center;
}
.products .products-add-product-dialog .form .field textarea {
  resize: vertical;
}
.products .products-add-product-dialog .form .field select {
  appearance: none;
  font-weight: bold;
  margin-left: 20px;
}
.products .products-add-product-dialog .form .field label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.products .products-add-product-dialog .form .field input:focus + label,
.products
  .products-add-product-dialog
  .form
  .field
  input:not(:placeholder-shown)
  + label,
.products .products-add-product-dialog .form .field textarea:focus + label,
.products
  .products-add-product-dialog
  .form
  .field
  textarea:not(:placeholder-shown)
  + label {
  top: 0px;
  left: 15px;
  background: var(--bg-clr-2);
  color: var(--secondary-clr);
  font-size: 0.8rem;
  padding-inline: 8px;
}
.products .products-add-product-dialog .form .field input:focus,
.products .products-add-product-dialog .form .field textarea:focus {
  border-color: var(--secondary-clr);
}
.products .products-add-product-dialog .form .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* -------------- Product Details Section  -------------- */
.product .product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 50px;
  font-size: 1.25rem;
  margin-top: -5px;
}
.product .product-details-container .product-image-container {
  background: hsl(from var(--primary-clr) h s l / 0.3);
  border-radius: 15px;
  padding: 20px;
  border: 2px solid var(--primary-clr);
  position: relative;
}
.product .product-details-container .product-image-container img {
  height: 340px;
  width: 100%;
}
.product .add-to-wishlist-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--primary-clr);
  color: var(--text-clr);
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.product .add-to-wishlist-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 var(--primary-clr);
}
.product .add-to-wishlist-btn i.product-in-wishlist {
  color: var(--secondary-clr);
}
.product .product-details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10px;
}
.product .product-details-content .product-header {
  display: flex;
  gap: 40px;
}
.product .product-details-content .product-header .product-name {
  color: var(--secondary-clr);
}
.product .product-details-content .product-details {
  color: var(--text-clr-darker);
  margin-bottom: 100px;
}
.product .product-details-content .quantity {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product .product-details-content .quantity input[type="number"] {
  text-align: center;
  border-radius: 5px;
  flex-grow: 1;
}

/* -------------- Producys By Category Section  -------------- */
.products-categories .products-items-found {
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-clr-darker);
}
.products-categories .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.products-categories .products-container .product {
  background: hsl(from var(--primary-clr) h s l / 0.3);
  border-radius: 15px;
  padding: 20px;
  border: 2px solid var(--primary-clr);
  position: relative;
}
.products-categories .products-container .product:hover {
  box-shadow: 0 0 10px 5px var(--primary-clr);
}
.products-categories .add-to-wishlist-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--primary-clr);
  color: var(--text-clr);
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.products-categories .add-to-wishlist-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 var(--primary-clr);
}
.products-categories .add-to-wishlist-btn i.product-in-wishlist {
  color: var(--secondary-clr);
}
.products-categories .product-name {
  color: var(--secondary-clr);
}
.products-categories .product-price {
  color: var(--text-clr-darker);
  font-size: 1.2rem;
}

/* -------------- Info Details  -------------- */
.info {
  font-weight: 800;
  padding: 8px 14px;
  border-radius: 5px;
}
.info--category {
  background: var(--secondary-clr);
  color: var(--primary-clr);
  border-radius: 15px 5px 5px 0;
  position: absolute;
  top: 0;
  left: 0;
}
.info--pending {
  background: var(--info-status-clr-1);
}
.info--packaging {
  background: var(--info-status-clr-2);
}
.info--shipped {
  background: var(--info-status-clr-3);
}
.info--delivered {
  background: var(--info-status-clr-4);
}
.info--canceled {
  background: var(--info-status-clr-5);
}
.info--out-of-stock {
  background: var(--primary-clr);
  color: var(--text-clr);
  text-decoration: line-through var(--text-clr);
}

/* -------------- Buttons  -------------- */
.btn {
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  transition: 0.3s;
}
.btn i {
  margin-left: 15px;
}
.btn--1 {
  background: var(--secondary-clr);
  color: var(--bg-clr);
}
.btn--1:hover {
  background: var(--bg-clr);
  color: var(--secondary-clr);
  box-shadow: 0 0 20px 5px var(--secondary-clr);
}
.btn--2 {
  background: var(--primary-clr);
  color: var(--text-clr);
}
.btn--2:hover {
  background: var(--text-clr);
  color: var(--primary-clr);
  box-shadow: 0 0 20px 5px var(--primary-clr);
}
.btn--3 {
  background: none;
  color: var(--text-clr);
  font-size: 1.7rem;
}
.btn--3:hover {
  opacity: 0.8;
}
body.dark-mode .btn--3:hover {
  filter: brightness(0.9);
}
.btn--4 {
  background: var(--text-clr);
  color: var(--primary-clr);
  outline: 1px solid var(--primary-clr);
}
.btn--4:hover {
  background: var(--primary-clr);
  color: var(--text-clr);
  outline-color: var(--text-clr);
  box-shadow: 0 0 20px 5px var(--text-clr);
}
.btn--5 {
  background: var(--box-shadow-effect-clr-2);
  color: var(--text-clr);
}
.btn--5:hover {
  background: var(--text-clr);
  color: var(--box-shadow-effect-clr-2);
  box-shadow: 0 0 20px 5px var(--box-shadow-effect-clr-2);
}
.btn--5:disabled {
  background: hsl(from var(--box-shadow-effect-clr-2) h s l / .4);
  color: var(--bg-clr);
  cursor: not-allowed;
  box-shadow: none;
}
.btn--6 {
  background: var(--text-clr);
  color: var(--box-shadow-effect-clr-2);
  outline: 1px solid var(--box-shadow-effect-clr-2);
}
.btn--6:hover {
  background: var(--box-shadow-effect-clr-2);
  color: var(--text-clr);
  outline: var(--text-clr);
  box-shadow: 0 0 20px 5px var(--box-shadow-effect-clr-2);
}

/* -------------- Start Shopping Component  -------------- */
.start-shopping {
  display: grid;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 1.4rem;
}

/* -------------- Wish List Section  -------------- */
.wishlist .wishlist-items-found {
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-clr-darker);
}
.wishlist .wishlist-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wishlist .wishlist-list .actions {
  align-self: center;
}
.wishlist .wishlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.wishlist .wishlist-container .product {
  background: hsl(from var(--primary-clr) h s l / 0.3);
  border-radius: 15px;
  padding: 20px 20px 10px;
  border: 2px solid var(--primary-clr);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.wishlist .wishlist-container .product:hover {
  box-shadow: 0 0 10px 5px var(--primary-clr);
}
.wishlist .add-to-wishlist-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--primary-clr);
  color: var(--text-clr);
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.wishlist .add-to-wishlist-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 var(--primary-clr);
}
.wishlist .add-to-wishlist-btn i.product-in-wishlist {
  color: var(--secondary-clr);
}
.wishlist .product-name {
  color: var(--secondary-clr);
}
.wishlist .product-price {
  color: var(--text-clr-darker);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* -------------- Orders Section  -------------- */
.orders .orders-container {
  display: grid;
  gap: 20px;
}
.orders .orders-container .tracking-orders {
  display: flex;
  justify-content: space-between;
}
.orders .orders-container p:first-of-type {
  color: var(--text-clr-darker);
}
.orders .orders-container .filter-by-status {
  display: flex;
  gap: 15px;
  align-items: center;
}
.orders .orders-container .filter-by-status button.active {
  background: var(--bg-clr);
  color: var(--text-clr);
  box-shadow: 0 0 10px 5px var(--primary-clr);
}
.orders .orders-container .orders-header {
  display: grid;
  grid-template-columns: 50px 100px 150px 200px 150px 150px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--text-clr);
  color: var(--bg-clr);
  font-weight: 800;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: -20px;
}
.orders .orders-container .orders-list {
  display: grid;
  gap: 10px;
}
.orders .orders-container .orders-list .order-item {
  display: grid;
  grid-template-columns: 50px 100px 150px 200px 150px 150px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 20px 20px;
  background: hsl(from var(--primary-clr) h s l / 0.7);
  transition: 0.3s;
}
.orders .orders-container .orders-list .order-item:hover {
  background: var(--secondary-clr);
  color: var(--bg-clr);
  box-shadow: 0 0 10px 0 var(--secondary-clr);
}
.orders .orders-container .orders-list .order-item .order-status {
  text-align: center;
  appearance: none;
}
.orders .orders-container .orders-list .order-item button:last-child i {
  margin-left: 8px;
}
.orders .order-details-dialog {
  width: 90%;
  padding: 20px 40px 40px;
  border-radius: 10px;
  line-height: 2;
  position: relative;
}
.orders .order-details-dialog .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.orders .order-details-dialog .header .title {
  display: flex;
  gap: 50px;
  align-items: center;
}
.orders .order-details-dialog .details {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary-clr);
}
.orders .order-details-dialog .details > p {
  background-color: var(--text-clr);
  color: var(--bg-clr);
  padding: 5px 25px;
  box-shadow: 0 0 5px 0 var(--text-clr);
  border-radius: 5px;
}
.orders .order-details-dialog .products {
  margin-top: 10px;
}
.orders .order-details-dialog .products .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.orders .order-details-dialog .products .title h2:last-child {
  border-bottom: 3px solid var(--secondary-clr);
}
.orders .order-details-dialog .products .products-header,
.orders .order-details-dialog .products .products-list .product a {
  display: grid;
  grid-template-columns: 50px 100px 200px 150px 100px 150px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.15rem;
}
.orders .order-details-dialog .products .products-header {
  background: var(--text-clr);
  color: var(--bg-clr);
  border-radius: 5px;
}
.orders .order-details-dialog .products .products-list .product {
  background: var(--primary-clr);
  border-radius: 5px;
  transition: 0.3s;
}
.orders .order-details-dialog .products .products-list .product:hover {
  background: var(--secondary-clr);
  color: var(--bg-clr);
  box-shadow: 0 0 10px 0 var(--secondary-clr);
}
.orders .order-details-dialog .products .products-list .product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.orders .orders-xml-modal h2:first-of-type {
  border-bottom: 3px solid var(--secondary-clr);
  text-align: center;
  margin-bottom: 20px;
}
.orders .orders-xml-modal pre:first-of-type {
  background-color: hsl(from var(--primary-clr) h s l / 0.3);
  padding: 10px 20px;
}

/* -------------- Shopping Cart Section -------------- */
.cart .cart-container {
  display: grid;
  gap: 20px;
}
.cart .cart-header {
  display: grid;
  grid-template-columns: 50px 100px 200px 150px 90px 150px 150px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--text-clr);
  color: var(--bg-clr);
  font-weight: 800;
  border-radius: 5px;
  padding: 10px 20px;
}
.cart .cart-list {
  display: grid;
  gap: 10px;
  margin-top: -20px;
}
.cart .cart-list .cart-item a {
  display: grid;
  grid-template-columns: 50px 100px 200px 150px 90px 150px 150px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  background: hsl(from var(--primary-clr) h s l / 0.7);
  color: var(--text-clr);
  transition: 0.3s;
}
.cart .cart-list .cart-item a:hover {
  background: var(--secondary-clr);
  color: var(--bg-clr);
  box-shadow: 0 0 10px 0 var(--secondary-clr);
}
.cart .cart-list .cart-item img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}
.cart .cart-list .cart-item input[type="number"] {
  text-align: center;
}
.cart .cart-list .cart-item button:last-child i {
  margin-left: 8px;
}
.cart .cart-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  font-size: 1.25rem;
}
.cart .cart-total p {
  border-top: 2px solid var(--primary-clr);
  border-bottom: 3px solid var(--secondary-clr);
  padding-block: 10px;
}
.cart .cart-total .actions {
  display: flex;
  justify-content: space-between;
}

/* -------------- Login Section -------------- */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}
.form .fieldset {
  width: 50%;
  display: grid;
  gap: 15px;
  border: 2px solid var(--primary-clr);
  padding: 10px 40px 30px;
  box-shadow: 0 0 20px 0 var(--primary-clr);
  font-size: 1.2rem;
  background: var(--bg-clr-2);
}
.form .fieldset legend {
  padding-inline: 10px;
}
.form .field {
  position: relative;
}
.form .field input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid var(--text-clr);
  background: transparent;
  color: var(--secondary-clr);
  caret-color: var(--secondary-clr);
}
.form .field label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.form .field label + i[class*="fa-eye"] {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form .field input:focus + label,
.form .field input:not(:placeholder-shown) + label {
  top: 0px;
  left: 15px;
  background: var(--bg-clr-2);
  color: var(--secondary-clr);
  font-size: 0.8rem;
  padding-inline: 8px;
}
.form .field input:focus {
  border-color: var(--secondary-clr);
}
.form .account-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.form .account-options .forgot-password-link:hover {
  text-decoration: underline;
  color: var(--secondary-clr);
}
.form span.required-field-mark {
  color: red;
  font-size: 1rem;
  margin-left: 2px;
}

/* -------------- Profile Section  -------------- */
.profile .profile-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
  text-align: center;
  margin-top: 30px;
}
.profile .settings-nav {
  padding: 20px 3px;
  background: var(--bg-clr-2);
  color: var(--text-clr);
  border: 2px solid var(--primary-clr);
  border-radius: 5px;
}
.profile .settings-nav h2:first-child {
  color: var(--secondary-clr);
}
.profile .settings-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.profile .settings-content .form {
  width: 100%;
}
.profile .settings-content .form .fieldset {
  width: 100%;
  gap: 25px;
}
.profile .settings-content .form .fieldset > div:not(:last-child) {
  background: hsl(from var(--primary-clr) h s l / 0.4);
  padding: 20px;
  border-radius: 8px;
}
.profile .settings-content .form .fieldset .password .field:first-child {
  margin-bottom: 20px;
}
.profile .settings-content .form .field input:focus + label,
.form .field input:not(:placeholder-shown) + label {
  background: hsl(from var(--primary-clr) h s l / 0.4);
}
.profile .settings-content .form .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.profile .settings-nav .nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
.profile .settings-nav .nav-list li a {
  display: block;
  padding: 24px;
  background-color: var(--bg-clr-3);
  background: hsl(from var(--primary-clr) h s l / 0.3);
  border-left: 5px solid transparent;
  font-weight: 500;
  transition: 0.3s;
}
.profile .settings-nav .nav-list li a.active {
  border-left-color: var(--primary-clr);
  color: var(--secondary-clr);
  font-weight: 800;
}
.profile .settings-nav .nav-list li:hover a {
  border-left-color: var(--primary-clr);
  color: var(--secondary-clr);
}

/* -------------- Toggle Switch Component  -------------- */
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch label {
  width: 75px;
  height: 35px;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  border: 1px solid var(--text-clr);
  margin-left: 15px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--text-clr-darker);
  border-radius: 50%;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.toggle-switch input[type="checkbox"]:checked + label {
  background: var(--primary-clr);
}
.toggle-switch input[type="checkbox"]:checked + label::after {
  background: var(--text-clr);
  left: calc(100% - 31px);
}
.toggle-switch input[type="checkbox"] + label:hover::after {
  opacity: 0.8;
}
.toggle-switch input[type="checkbox"]:checked + label:hover::after {
  filter: brightness(0.9);
}

/* -------------- Overall Browser Settings -------------- */
::selection {
  background: var(--secondary-clr);
  color: var(--bg-clr);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--bg-clr);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-clr);
}

/* -------------- Dialog (Modal)  -------------- */
dialog {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: var(--bg-clr);
  color: var(--text-clr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

/* -------------- Footer  -------------- */
.footer {
  color: var(--text-clr-darker);
  text-align: center;
  padding-block: 40px;
  background: var(--bg-clr-2);
}
